################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
/.vs/Minix 3/v14
*.opendb
*.suo
